<h1>Orders#new</h1>

<%= form_for @order do |f| %>
  <div>
    <%= f.label :bread %>
    <%= f.select :bread, ["Ciabatta", "White", "Wheat", "None"] %>
  </div>

  <div>
    <%= f.label :meat %>
    <%= f.select :meat, ["Pastrami", "Salami", "Turkey", "Bacon", "All", "None"] %>
  </div>

  <div>
    <%= f.label :pickles %>
    <%= f.check_box :pickles %>
  </div>

  <div>
    <%= f.submit "Place Order" %>
  </div>
<% end %>
